@media(min-width:468px){
    .container-1{
      display:flex;
      /*
      align-items:flex-start;
      align-items:flex-end;
      align-items:center;
      
      flex-direction:column;
      */
    }
    
    .container-2{
      display:flex;  
      /*
      justify-content:flex-start;
      justify-content:flex-end;
      justify-content:center;
      justify-content:space-around;
      */
      justify-content:space-between;
    }
  }
  
  .container-3{
    display:flex;  
    /*flex-wrap:wrap;*/
    justify-content:space-between;
  }
  .container-4{
    display:flex;  
    /*flex-wrap:wrap;*/
    justify-content:space-between;
  }
  
  .container-1 div, .container-2 div, .container-3 div, .container-4 div{
    border:10px #96a3a1 solid;
    padding:15px;
  }
  
  .box-1{
    flex:2;
    order:2;
  }
  
  .box-2{
    flex:1;
    order:1;
  }
  
  .box-3{
    flex:1;
    order: 3;
  }
  .box-4{
    flex:1;
    order:8;
  }
  
  .container-2-box{
    flex-basis: 100%;  
  }
  
  .container-3-box{
    flex-basis:100%;
  }
  .container-4-box{
    flex-basis:100%;
  }